.so-widget-sow-icon-default-8b410976f840 .sow-icon {
  text-align: center;
}
.so-widget-sow-icon-default-8b410976f840 .sow-icon span,
.so-widget-sow-icon-default-8b410976f840 .sow-icon a span {
  display: inline-block;
  color: #ffffff !important;
}